[submodule "_vendor/multica-ai__andrej-karpathy-skills"]
	path = _vendor/multica-ai__andrej-karpathy-skills
	url = git@github.com:multica-ai/andrej-karpathy-skills.git
	branch = main
[submodule "_vendor/mattpocock__skills"]
	path = _vendor/mattpocock__skills
	url = git@github.com:mattpocock/skills.git
	branch = main
[submodule "_vendor/cursor__plugins"]
	path = _vendor/cursor__plugins
	url = git@github.com:cursor/plugins.git
[submodule "_vendor/shadcn-ui__ui"]
	path = _vendor/shadcn-ui__ui
	url = git@github.com:shadcn-ui/ui.git
[submodule "_vendor/garrytan__gstack"]
	path = _vendor/garrytan__gstack
	url = git@github.com:garrytan/gstack.git
	branch = main
[submodule "_vendor/Nutlope__hallmark"]
	path = _vendor/Nutlope__hallmark
	url = https://github.com/Nutlope/hallmark.git
[submodule "_vendor/rand__cc-polymath"]
	path = _vendor/rand__cc-polymath
	url = https://github.com/rand/cc-polymath.git
[submodule "_vendor/obra__superpowers"]
	path = _vendor/obra__superpowers
	url = https://github.com/obra/superpowers.git
[submodule "_vendor/Nanako0129__sepia"]
	path = _vendor/Nanako0129__sepia
	url = https://github.com/Nanako0129/sepia.git
[submodule "_vendor/anthropics__skills"]
	path = _vendor/anthropics__skills
	url = https://github.com/anthropics/skills
[submodule "_vendor/Leonxlnx__taste-skill"]
	path = _vendor/Leonxlnx__taste-skill
	url = https://github.com/Leonxlnx/taste-skill
[submodule "_vendor/code-yeongyu__oh-my-openagent"]
	path = _vendor/code-yeongyu__oh-my-openagent
	url = https://github.com/code-yeongyu/oh-my-openagent
